

<h2 style="text-align: center"><%= @query %></h2>
<p style="text-align: center"> -You</p>

<h2 style="text-align: center"><%= @answer %></h2>
<p style="text-align: center"> -Coach</p>

<%= link_to  "Ask another question", ask_path %>
